:root {
    --footer-height: 50px;
    --container-bg: #F0FFFF; 
    --white-font: #fffafa;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* color: black; */
    color: #262626;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

h2 {
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-align: center;
}

/* .float--left {
    float: left;
}
.float--right {
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
} */

/* HEADER */
#navbar {
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #F8F8F8;
    padding: 17px 120px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    /* transition: all ease 1s;  */
}

#navbar a {
    color: #7A7A82;
}

.navbar__logo {
    letter-spacing: 2px;
    font-size: 24px;
    /* color: #2c2c2c; */
}

/* .navbar--menu {
    transition: ease-in-out 1s; 
} */

.navbar__menu {
    display: flex;
    /* transition: 1s;  */
}

.navbar__menu li {
    letter-spacing: 2px;
    padding: 8px 16px;
    cursor: pointer;
}

.navbar__menu li:hover {
    /* background-color: #1E90FF; */
    background-color: lightskyblue;
    border-radius: 4px;
    /* color: white !important; */
}

/* .navbar__menu li a:hover {
    color: white !important;
} */

.navbar__toggleBtn {
    display: none;
    font-size: 24px;
    /* color: #7A7A82; */
}

.navbar__toggleBtn i {
    color: #7A7A82;
}



/* section */
.section {
    width: 100%;
    /* height: calc(100vh - 70px - var(--footer-height)); */
    height: 100%;
    position: relative;
}

.section .inner {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 120px 12px 0 12px;
}



/* INTRO */
#intro {
    background-color: #02475E;
    padding-top: 50px;
    text-align: center;
}

#intro .inner {
    padding-bottom: 120px;
}

#intro h2 {
    color: var(--white-font);
}

#intro .intro__img {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

#intro .intro__img img {
    /* width: 300px; */
    /* height: 300px; */
    width: 100%;
    height: auto;
}

#intro h4 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 20px;
    color: var(--white-font);
}


/* ABOUT */
#about {
    background-color: var(--container-bg);
}

#about .about__inner {
    display: flex;
    margin-top: 50px;
}

#about .about__img {
    max-width: 350px;
    max-height: 470px;
    margin-right: 50px;
}

#about .about__img img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#about .about__inner .summary h2 {
    font-weight: 700; 
    font-size: 25px;
}

#about .about__inner .summary p {
    font-size: 17px;
    line-height: 2;
}


/* SKILLS */
#skills {
    background-color: var(--container-bg);
    text-align: center;
}

#skills h4 {
    font-weight: 200;
    margin-bottom: 55px;
}

#skills .skills__inner .skill {
    width: 270px;
}

#skills h3 {
    font-weight: 400;
    font-size: 24px;
    box-sizing: border-box;
    padding-top: 15px;
}

#skills .skills__inner p {
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 15px;
}

#skills .skills__inner .row_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

#skills .skills__inner .row_2 {
    display: flex;    
    justify-content: space-around;
}

/* WORKS */
#works {
    background-color: var(--container-bg);
    text-align: center;
}

#works h4 {
    font-weight: 200;
    margin-bottom: 55px;
}

#works .works__inner {
    display: flex;
    justify-content: space-between;
}

#works .works__inner .card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

#works .works__inner .card .works__img {
    max-width: 275px;
    max-height: 485px;
}

#works .works__inner .card .works__img img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}

#works .works__inner .card .works__name {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    line-height: 2;
}

#works .works__inner .card .works__name p {
    color: #1E90FF;
    font-weight: 700;
}

/* CONTACT */
#contact {
    background-color: var(--container-bg);
    text-align: center;
}

#contact h4 {
    font-weight: 200;
    margin: 50px;
}

#contact .contact__inner {
    line-height: 2.5;
}

#contact .contact__inner a {
    color: #1E90FF;
    font-weight: 700;
}

/* FOOTER */
#footer {
    width: 100%;
    height: var(--footer-height);
    text-align: center;
    line-height: 2;
    background-color: var(--container-bg);
    padding-top: 120px;
}

#footer .footer__inner {
    background-color: var(--container-bg);
}

#footer .footer__inner i {
    color: #1E90FF;
    font-size: 30px;
    padding-bottom: 120px;
}

#footer .footer__inner p {
    color: white;
    /* background-color: black; */
    background-color: #262626;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}



/* For small screen */
@media screen and (max-width: 1025px) {
    /* NAV */
    #navbar {
        flex-direction: column;
        padding: 8px 25px;
        /* text-align: left; */
        /* align-items: flex-start; */
    }

    #navbar .navbar__logo {
        padding: 12px;
        display: flex;
        justify-content: space-between;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        border-top: 1px solid lightgray;
        /* width: 100%; */
        transition: ease-in-out 1s; 
    }

    .navbar__menu li {
        padding: 12px;
    }

    .navbar__toggleBtn {
        display: inline-block;
        position: relative;
    }

    /* When toggle button is clicked - active state */
    .navbar__menu.active {
        display: flex;
        transition: ease-in-out 1s; 
        /* transition: .4s;  */
        /* animation: my-animation 1s; */
        /* transition: ease-in-out 1s;  */
    }


    /* SECTION */
    .section .inner {
        padding: 60px 36px;
    }


    /* ABOUT */
    #about .about__img img {
        /* width: 280px; */
        /* height: 376px; */
    }

    #about .about__inner .summary p {
        font-size: 15px;
        line-height: 2;
    }


    /* SKILLS */
    #skills .skills__inner {
        /* flex-direction: column; */
        align-items: center;
    }

    #skills .skills__inner .skill {
        padding-bottom: 36px;
    }

    #skills .skills__inner .row_1 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    #skills .skills__inner .row_2 {
        flex-direction: column;
        align-items: center;
    }



    /* WORKS */
    #works .works__inner {
        flex-direction: column;
        align-items: center;
    }

    #works .works__inner .card {
        margin-top: 25px;
    }

}

@media screen and (max-width: 768px) {
    /* ABOUT */

    #about .about__inner {
        flex-direction: column;
        align-items: center;
    }

    #about .about__inner .about__img {
        margin-right: 0;
        margin-bottom: 25px;
    }

    #about .about__img img {
        /* width: 350px; */
        /* height: 470px; */
    }

    #about .about__inner .summary p {
        font-size: 14px;
        line-height: 2;
    }


}